<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" class="form-control" name="campground[title]" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" id="location" class="form-control" name="campground[location]" required />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- <input type="file" name="image" id="" multiple> -->
        <!-- <div class="mb-3">
        <label for="img" class="form-label">Image Url</label>
        <input
          type="text"
          id="img"
          class="form-control"
          name="campground[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div> -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" id="description" class="form-control" name="campground[description]" required>
        </textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" placeholder="0" step="0.01" name="campground[price]" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group mb-3">
          <input class="form-control" type="file" id="formFileMultiple" multiple>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Add Campground</button>
        </div>
      </form>
      <a href="/campgrounds">Back to All Campgrounds</a>
    </div>
  </div>